@model DR874115_MIS4200.Models.PetDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PetDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owners.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owners.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pets.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pets.PetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetOwnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
